<div class="card-container">

<div class="card">
    <img class="photo" src="/images/NohaPhoto.jpg" alt="Card Image">
    <div class="card-content">
        <h3 class="text-center">NOHA ALEX</h3>
        <hr style="height:5px"/>
            <span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
            <a href="https://wa.me/918903234125" target="blank"><img src="/images/wa.png" style="height:50px; width:60px" /></a>
            <a href="https://github.com/nohaalex" target="blank"><img src="/images/github.png"  style="height:50px; width:60px" /></a>
            <a href="https://profile.indeed.com/?hl=en_IN&co=IN&from=gnav-homepage&_ga=2.82729558.1994747068.1695193938-287528614.1695193938" target="blank"><img src="/images/indeedicon.png" style="height:50px; width:60px" /></a>
            <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit" target="blank"><img src="/images/linkedinicon.png" target="blank" style="height:50px; width:60px" /></a> <span>&nbsp</span>
            
    </div>
</div>

</div>

<div class="aboutme">
    <p class="text-black fs-4 text-center ">Enthusiastic and dedicated individual with a good foundation in programming and keen interest in software development. Eager to secure a entry-level software developer position to leverage technical skills in ASP.NET Core MVC while contributing to innovative projects in a collaborative environment.</p>
</div>

<br />
<br />