<div class="resume-container">
    <section class="namendetails">
        <h2 class="text-light">NOHA ALEX</h2>
        <h4>
            Location: Thiruvananthapuram <br />
            Mobile: +91-8903234125<br />
            Email: alexnoha37@gmail.com <br />
            github:<a class="github" href="https://github.com/nohaalex" target="_blank">https://github.com/nohaalex</a> <br />
        </h4>
    </section>
    <br />
    <section class="objective">
        <h2 class="text-light">OBJECTIVE:</h2>
        <h4>Enthusiastic and dedicated individual with a strong foundation in programming and a keen interest in software development. Eager to secure an entry-level software developer position to leverage technical skills in frontend development, ASP.NET Core MVC, and JavaScript while contributing to innovative projects in a collaborative environment.</h4>
    </section>
    <br />
    <section class="education">
        <h2 class="text-light"> EDUCATION:</h2>
        <h4>B. Tech Chemical Engineering<br />
            SASTRA University, Thanjavur <br />
            Graduation Year: 2018 <br />
        </h4>
     </section>
     <br />
     <section >
        <h2 class="text-light">SKILLS:</h2>
        <h4>- HTML, CSS, JavaScript<br />
            - Bootstrap, jQuery, React.js Basics<br />
            - MySQL<br />
            - ASP.NET Core MVC<br />
            - C#, ADO.NET, Entity Framework<br />
            - Learning GIT for Version Control<br />
            - Exploring GITHUB for Collaboration<br />
            - Search Engine Optimization Basics<br />
        </h4>
    </section>
    <br />
    <section class="internship">
        <h2 class="text-light">INTERNSHIP:</h2>
        <h4>
            SCOPE INDIA, January 2023 - August 2023<br />
            - Developed frontend components using HTML, CSS, JavaScript, Bootstrap, jQuery.<br />
            - Utilized MySQL for data storage and retrieval.<br />
            - Implemented server-side logic using C# and ASP.NET Core MVC framework.<br />
            - Worked with ADO.NET and Entity Framework.<br />
            - Gained experience with version control concepts and basic collaboration on GITHUB.<br />
        </h4>
    </section>
    <br />
    <section class="projects">
        <h2 class="text-light">PROJECTS:</h2>
        <h4>
          1.  ASP.NET Core MVC model website creation for SCOPE INDIA, June 2023 - July 2023<br />
            - Developed a website using ASP.NET Core MVC model.<br />
            - Implemented user registration functionality and stored data in an ADO.NET database.<br />
            - Created a basic registration and login system with profile editing capabilities.<br />
            - Utilized cookies and sessions for effective state management.<br /><br />
          2.  Process Equipment Design, December 2017<br />
            Process Equipment Design of Aromatic Recovery Unit, Propylene Recovery Unit, and Sour Water-Strip per Columns at BPCL Oil Refinery, Kochi.<br />
        </h4>
    </section>
    <br />
    <section class="workexperience">
        <h2 class="text-light">WORK EXPERIENCE:</h2>
        <h4>
          
            DCW Ltd, August 2018 - December 2018<br />
            - Internship Trainee: Process Control<br />
            - Operated Distributed Control System of an Ammonia Recovery Unit.<br />
        </h4>
    </section>
</div>

<br />
<br />
<div class="text-center">
    <h4 class="text-dark">DOWNLOAD RESUME</h4>
    <a class="btn btn-primary btn-outline-dark text-light" href="/Home/DownloadFile/">Download</a>
</div>
